:root {
	--foreground-colour: #151515;
	--background-colour: #fff;
	--button-background-colour: #eaeaea;
	--button-background-colour-hover: #d6d6d6;
}
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-colour: #fff;
		--background-colour: #151515;
		--button-background-colour: #2b2b2b;
		--button-background-colour-hover: #3f3f3f;
	}
}
@media (prefers-contrast: more) {
	:root {
		--foreground-colour: #000;
		--background-colour: #fff;
		--button-background-colour: #fff;
		--button-background-colour-hover: #aaa;
	}
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
}
html,
body {
	height: 100%;
	color: var(--foreground-colour);
	background: var(--background-colour);
}
body {
	font:
		400 1em/1.4 -apple-system,
		"BlinkMacSystemFont",
		"Helvetica Neue",
		"Helvetica",
		sans-serif;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
h1 {
	font-size: 6vw;
}

.columns {
	display: flex;
}

.columns div {
	flex: 1;
	width: 40vw;
	padding: 0.2em;
}

.columns button {
	width: 100%;
}

button {
	font-size: 1em;
	margin: 0.2em;
	padding: 0.2em 0.5em;
	color: var(--foreground-colour);
	background: var(--button-background-colour);
	border-color: var(--foreground-colour);
}
button:hover {
	background: var(--button-background-colour-hover);
}
textarea {
	height: 20em;
	overflow-y: scroll;
	color: var(--foreground-colour);
	background: var(--background-colour);
	border-color: var(--foreground-colour);
}

/** Change button size for small screens **/
@media (max-width: 800px) {
	button {
		padding: 1em 0;
	}
}
